<section class="projetsWeb" id="projetsList">
    <div class="container-fluid">
        <h1 class="meProjet">MES PROJETS</h1>
        <div class="row" id="list">
            <div class="col-lg-4" id="projet">
                <img src="/assets/pict/projets/starfieldLogo.png" data-bs-toggle="modal" data-bs-target="#starfield" class="img-fluid w-100" alt="Starfield" />
            </div>
            <div class="col-lg-4" id="projet">
                <img src="/assets/pict/projets/wellifeLogo.png" data-bs-toggle="modal" data-bs-target="#wellife" class="img-fluid w-100" alt="Wellife" />
            </div>
            <div class="col-lg-4" id="projet">
                <img src="/assets/pict/projets/EaglePCLogo.png" data-bs-toggle="modal" data-bs-target="#eaglePC" class="img-fluid w-100" alt="EaglePC" />
            </div>
            <div class="col-lg-4" id="projet">
                <img src="/assets/pict/projets/PixelsGeekLogo.png" data-bs-toggle="modal" data-bs-target="#pixelsGeek" class="img-fluid w-100" alt="PixelsGeek" />
            </div>
            <div class="col-lg-4" id="projet">
                <div class="card" style="width: 100%; height: 100%; max-width: 520px;">
                    <div class="card-body">
                        <p>Prochainement</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4" id="projet">
                <div class="card" style="width: 100%; height: 100%; max-width: 520px;">
                    <div class="card-body">
                        <p>Prochainement</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


